.clients {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 93.75%;
    margin-inline: 15px;
  }
}

.clients__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.clients__list-element {
  width: 210px;
}

.clients-icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 15px 0 15px 0;
  transition: border-color 250ms var(--cubic-bezier);

  &:hover {
    border-color: var(--color-blue);
    cursor: pointer;
  }
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--cubic-bezier);
}

.clients-icon__wrapper:hover .clients__icon {
  fill: var(--color-blue);
}

@media screen and (min-width: 768px) {
  .clients__wrapper {
    width: 96.095%;
  }

  .clients__list-element {
    width: 30.625%;
  }
}

@media screen and (min-width: 1200px) {
  .clients__wrapper {
    width: 97.5%;
    max-width: 1200px;
    margin: 0;
  }

  .clients__heading {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }

  .clients__list-element {
    width: 14.53%;
  }

  .clients-icon__wrapper {
    padding: 15px 0 15px 0;
  }

  .clients__icon {
    fill: var(--icon-color);
    transition: fill 250ms var(--cubic-bezier);
  }

  .clients-icon__wrapper:hover .clients__icon {
    fill: var(--color-blue);
  }
}
