.mobile-menu-open__button {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  margin: 0 15px 0 0;

  & :hover {
    fill: var(--color-blue);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open__button {
    display: none;
  }
}
